.footer {
  background-color: $bgcolor-main;

  &__page-rule {
    background-color: $color-secondary;
    height: 3px;
    border: 0;
  }

  &__container {
    padding: 3rem;
  }

  &__text {
    color: $color-primary-light;
    font-size: $default-font-size;
    text-align: center;

    @include highlighted-link;
  }
}
