.header {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  grid-template-rows: 1fr 1.8fr 1.2fr 1.2fr 1fr;
  gap: 1.6rem;
  height: 100vh;
  padding: 3rem;
  // background: $background-gradient;
  background-color: $bgcolor-main;

  // @include mybackground;

  @media (max-width: 1024px) and (orientation: landscape) {
    height: auto;
  }

  @media (max-width: 900px) {
    padding: 2rem;
  }

  @media (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    width: 100%;
    height: auto;
  }

  &__left-column {
    background-color: $bgcolor-section;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 1rem;
    border-radius: 20px;

    @media (max-width: 1000px) {
      width: 80%;
    }

    @media (max-width: 900px) {
      width: 90%;
    }

    @media (max-width: 800px) {
      width: 96%;
    }

    @media (max-width: 750px) {
      grid-row: 2 / 6;
    }
  }

  &__title-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
    width: 66%;
    margin: 1rem auto;
    background-color: $color-primary-dark;
    border-radius: 10px;

    @media (max-width: 1000px) {
      width: 76%;
    }

    @media (max-width: 900px) {
      width: 86%;
    }

    @media (max-width: 800px) {
      width: 90%;
    }
  }

  &__title {
    font-size: 4rem;
    color: $color-primary-highlight;
    text-align: center;
    padding: 1rem;

    @media (max-width: 1600px) {
      font-size: 3.2rem;
      padding: 0.5rem;
    }

    @media (max-width: 750px) {
      padding: 0.2rem;
    }
  }

  &__about-me {
    background-color: $color-primary-highlight;
    border-radius: 20px;
    box-shadow: $box-shadow-dark;
    display: flex;
    justify-content: start;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-left: 15%;
    padding: 2rem;

    @media (max-width: 900px) {
      margin-left: 12%;
      padding: 1rem;
    }

    @media (max-width: 750px) {
      grid-column: 1 / 2;
      margin-left: 0;
    }
  }

  &__about-me-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__pre-subtitle {
    font-size: 2.4rem;
    color: $color-primary-dark;
    font-style: italic;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @media (max-width: 750px) {
      font-size: 2.2rem;
    }
  }

  &__subtitle {
    font-size: 6.8rem;
    margin-bottom: 2.4rem;
    color: $color-primary-dark;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @media (max-width: 750px) {
      margin-bottom: 1.8rem;
    }
  }

  &__photo {
    max-width: 15rem; /* TEMP? */
    height: auto;
    border-radius: 50%;
    margin-right: 3rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.8);

    @media (max-width: 750px) {
      margin-right: 2rem;
    }
  }

  &__about-bio {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: end;

    @media (max-width: 750px) {
      grid-column: 1 / 1;
      grid-row: 3 / 4;
    }
  }

  &__contact {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;

    // @media (max-width: 900px) {
    //   align-self: start;
    // }

    @media (max-width: 750px) {
      grid-column: 1 / 1;
      grid-row: 4 / 5;
    }
  }

  &__icon-box {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: center;
    align-self: start;
    display: flex;
    border-radius: 0.5rem;
    padding: 1rem 1.6rem;
    box-shadow: $box-shadow-dark;
    background-color: $color-primary-dark;
    margin-bottom: 1rem;

    @media (max-width: 750px) {
      grid-column: 1 / 1;
      grid-row: 5 / 6;
      margin-bottom: 1rem;
    }
  }

  &__sections-title-container {
    background-image: $background-gradient3;
    padding: 5rem;
    border-radius: 50%;
  }

  &__skills {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: end;
    // padding: 3rem;

    @media (max-width: 750px) {
      grid-column: 1 / 1;
      grid-row: 6 / 7;
      align-self: center;
    }
  }

  &__projects {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
    margin: 0 0 0 -25%;

    @media (max-width: 750px) {
      grid-column: 1 / 1;
      grid-row: 7 / 8;
      align-self: center;
      margin: 0;
    }
  }

  &__certs {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: start;
    align-self: center;

    @media (max-width: 750px) {
      grid-column: 1 / 1;
      grid-row: 8 / 9;
      justify-self: center;
    }
  }

  &__sections-title {
    font-size: 5.6rem;
    color: $color-primary-highlight;
    display: inline-block;
    transition: all 0.3s;

    @media (max-width: 900px) {
      font-size: 4.8rem;
    }

    @media (max-width: 750px) {
      margin-top: 1rem;
    }

    a:link,
    a:visited {
      color: $color-primary-highlight;
      text-shadow: 10px 10px 5px #000;
    }

    &:hover,
    &:active {
      color: $color-primary-highlight-hover;
      transform: translateY(-0.8rem) scale(1.05);
      // text-shadow: 20px 20px 10px #000;
    }
  }
}
