.section-bio {
  &__contents {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    gap: 3.2rem;

    // @media (max-width: 900px) {
    //   grid-template-columns: repeat(4, 1fr);
    //   grid-template-rows: repeat(3, 1fr);
    //   gap: 2.4rem;
    // }
    @media (min-width: 1680px) {
      margin: 4rem 8rem;
    }

    @media (max-width: 750px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, max-content);
    }
  }

  &__intro {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: 750px) {
      grid-row: 2 / 3;
    }
  }

  &__statement-container {
    background-color: $color-primary-highlight;
    padding: 1rem;
    margin-bottom: 6rem;
    border-radius: 20px;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }

  &__container-1 {
    width: 80%;
  }

  &__container-2 {
    width: 80%;
    align-self: flex-end;
  }

  &__container-3 {
    width: 80%;
    margin: 0 auto 6rem auto;
    align-self: center;
  }

  &__container-4 {
    width: 90%;
    margin: 0 auto;
    align-self: center;
  }

  &__statement {
    font-size: 2.2rem;
    margin-top: 1rem;
    padding: 2rem 0;
    color: $color-primary-dark;
    font-weight: 600;

    @media (max-width: 750px) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      padding: 2rem 1rem;
    }
  }

  &__arrow {
    position: absolute;
    background-color: blueviolet;
    border-radius: 5px;
    width: 4rem;
    height: 9rem;
  }

  &__arrow-1 {
    right: 35%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 90% 100%);
  }

  &__arrow-2 {
    right: 45%;
    clip-path: polygon(0% 0%, 100% 0%, 10% 100%, 0% 100%);
  }

  &__aside {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: inline-block;
    margin: 3rem 1rem 0 0;
    padding: 1rem;
    border-radius: 10px;
    background: $background-gradient2;
    box-shadow: $box-shadow-default;

    @media (max-width: 750px) {
      grid-column: 1 / 2;
    }

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      color: $color-primary-light;
      font-size: 2.4rem;
      font-style: italic;
      margin-bottom: 1rem;

      span {
        color: $color-primary-highlight;
      }
    }

    &__img {
      max-width: 6rem;
      max-height: 6rem;
      border-radius: 50%;
      margin-right: 2rem;

      @media (max-width: 900px) {
        margin-right: 1rem;
      }
    }

    &__text {
      color: $color-primary-light;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }
}
