.fa-brands {
  margin: 0 10px;
  font-size: 5rem;
  color: $color-primary-highlight;
  transition: all 0.3s;

  &:hover {
    color: $color-primary-light;
    transform: translateY(-0.5rem);
    filter: drop-shadow(0.5rem 0.5rem 1rem #000);
  }
}
