.sections {
  height: clamp(100vh, auto);
  padding: 3rem;
  // background: $background-gradient;
  background-color: $bgcolor-main;

  @media (max-width: 1024px) and (orientation: landscape) {
    height: auto;
  }

  // @media (max-width: 1900px) {
  //   height: auto;
  // }

  &__title-container {
    display: flex;
  }

  &__title-icon {
    color: $color-secondary;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    display: inline-block;

    @media (max-width: 900px) {
      width: 4rem;
      height: 4rem;
    }
  }

  &__title {
    color: $color-primary-light;
    font-size: 4.8rem;
    text-shadow: $text-shadow-light;
    padding-bottom: 2rem;
  }
}
