* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* so 1rem = 10px */

  @media (max-width: 1260px) {
    font-size: 50%; /* so 1rem = 8px */
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
